*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  min-height: 100vh;
}

body{
  font-family: "Amazon Ember" Arial, Helvetica;
  background: #f8f9fb;
  color: #111;
}

#root{
  width: 100%;
}

.parent{
  display: grid;
  grid-template-columns: 1fr 170px;
  gap: 0;
}


