.navbar{
    display: flex;
    background-color: rgb(3, 90, 148);
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 50;
    backdrop-filter: saturate(180%) blur(8px);
}

.sandwichicon{
    width: 40px;
    margin-left: 10px;
    padding-bottom: 5px;
}



.sitename{
    color: aliceblue;
    margin-left: 25px;
    font-size: 30px;
}

.quick-access{
    width: 100%;
    max-width: 500px;
    min-width: 150px;
    margin-left: 30px;
    gap: 20px;
    display: flex;
    justify-content:space-evenly;
}
.search-input{
    display:flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.search-input input{
    width: min(250px, 30vw);
    height: 27px;
    border: 0.5px solid grey;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 17px;
}
.searchicon{
   width: 25px;
   height: 25px;
    margin-left: 10px; 
    
}

@media (max-width: 900px){
    .quick-access{
        display: none;
    }
}